@font-face{
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "PT Sans";
  src: url('../fonts/ptsansbold.woff');
  font-weight: bold;
  font-style: normal;
}


body{
  margin:0;
  padding:0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.wrapper{
  min-width: 848px;
  max-width: 1280px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.wrapper-in{
  box-shadow: 0 0 15px 5px #cccccc;
  background-color: #ffffff;
  margin:0 auto;
  min-width: 768px;
  max-width: 1200px;
}

h3{
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color:#000000;
}

a{
  text-decoration: none;
  color:inherit;
  color:#000000;
}
p{
  text-align: center;
}

.container{
  width:100%;

}
.main-header {
  position: relative;
}
.main-menu{
  display: block;
  list-style: none;
  margin:0;
  padding:0 6%;
  width:auto;
}

.main-menu-item{
  width: 20%;
  min-height: 30px;
  margin:0;
  padding:13px 0;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  white-space: nowrap;
}
.main-menu-item:nth-child(4n+1){
  margin-right:3%;
  text-align: left;
}
.main-menu-item:nth-child(4n+2){
  margin-right:14%;
}
.main-menu-item:nth-child(4n+3)
{
  text-align: right;
}
.main-menu-item:nth-child(4n)
{
  margin-left: 3%;
  text-align: right;
}
.main-menu-item-link{
  color:#000000;
}

.main-menu-item-link:hover{
  color: #81b3d2;
}
.main-menu-item-link:active{
  color:#c7c7c7;
}

.main-menu-item-active .main-menu-item-link{
  color:#766357;
}

.main-menu-item-active .main-menu-item-link:hover{
  color: #604e43;
}

.main-menu-item-active .main-menu-item-link:active{
  color: #d8d3d0;
}

.logo{
  position: absolute;
  width: 138px;
  height: 70px;
  margin:auto;
  left:0;
  right:0;
}

.intro-photo{
  height: 500px;
  background-image:url("../img/white-area.png"),
  url("../img/background_intro_photo.jpg");
  background-size:  100% 100%, auto;
  background-position:0 0, 0 -57px;
}

.title-center{
  width: 500px;
  margin:auto;
  text-align: center;
}

.title-welcome{
  width: 188px;
  height: 45px;
  padding-top: 76px;
}

.title-gorgeous{
  width: 256px;
  height: 30px;
  padding-top: 10px;
}

.title-sedona{
  width: 458px;
  height: 78px;
  padding-top: 52px;
}

.title-becose{
  width: 296px;
  height: 80px;
  padding-top: 58px;
}

.city-decription{
  padding-top: 65px;
  margin-bottom: 30px;
}

.reasons-list{
  padding-top: 55px;
  font-size: 0;
}

.reason{
  display: block;
  float: left;
  width: 33%;
  margin:0;
  padding: 0;
  min-height: 256px;
  vertical-align: top;
  font-size: 14px;
}

.reason-grey{
  background-color: #ececec;
}

.reason-grey .reason-h{
  padding-top: 45px;
  line-height: 21px;
}

.reason-image{
  display: block;
  float: left;
  width: 67%;
  overflow: hidden;
}

.reason-h{
  margin: 0 20%;
  padding-top: 50px;
  line-height: 21px;
}

.number-reason{
  display: block;
  position: relative;
  padding-top: 20px;
  text-align: center;
}

.number-reason::before,
.number-reason::after{
  font-size: 18px;
  content: " - ";
}

.reason-text{
  margin: 20px 12% 10px;
  line-height: 21px;
}

.reason-blue{
  background-color: #83b4d3;
  color: #ffffff;
}
.reason-blue-h{
  color: #ffffff;
}

.reason-with-icon{
  background-color: #ffffff;
  padding-bottom: 70px;
  position: relative;
 }
.reason-with-icon::before{
  position: absolute;
  width: 80px;
  height: 73px;
  margin: auto;
  left: 0;
  right: 0;
  top:58px;
}

.reason-with-icon-house::before{
  content: url("../img/icon-house.png")
}

.reason-with-icon-burger::before{
  content: url("../img/icon-burger.png")
}

.reason-with-icon-gift::before{
  content: url("../img/icon-gift.png")
}

.reason-with-icon-h{
  padding-top: 135px;
}

.reason-grey .reason-text{
  margin: 20px 15%;
}

 .reason-first{
   padding-right:1%;
 }

.find-hotel{
  position:relative;
  padding-top:55px;
}
.find-hotel-h{
  font-size: 30px;
  line-height: 30px;
  padding-bottom:25px;
}

.btn-find-hotel{
  display: block;
  min-width: 280px;
  margin:40px auto 0;
  padding:32px 118px;
  border: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.0001;
  text-transform: uppercase;
  background-color: #8a7a70;
  color: #ffffff;
  cursor: pointer;
}

.find-hotel-form{
  display: block;
  position: absolute;
  width: 460px;
  height: 285px;
  left: 0;
  right: 0;
  margin: auto;
  padding:55px 55px;
  background-color: #ffffff;
  font-weight: bold;
}
.form-block-wrap{
  margin-bottom: 30px;
  position: relative;
}
.departure-date,
.arrival-date{
  display: block;
  min-width: 306px;
  min-height: 18px;
  padding: 10px 20px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  border: none;
  background-color: #f9f9f9;
}
.departure-date:hover,
.arrival-date:hover{
  background-color: #ebebeb;
}

.departure-date:focus,
.arrival-date:focus{
  background-color: none;
  border:2px solid#e5e5e5;
}


.calendar,
.calendar:disabled{
  position: absolute;
  right:-9px;
  top: 6px;
  width: 40px;
  height: 40px;
  background: url("../img/calendar_black.png") no-repeat;
  opacity: 0.3;
}

.calendar:hover{
  opacity: 1;
}

.calendar:active{
  opacity: 1;
  background: url("../img/calendar_blue.png") no-repeat;
}

.label-departure-date,
.label-arrival-date{
  display: block;
  width:110px;
  float: left;
  padding-top:5px;
  letter-spacing: 0.5px;
}

.number-wrap:nth-of-type(2n+1){
  padding-right: 50px;;
  float: left;
}

.label-number{
  float:left;
  margin-right: 45px;
  padding-top: 5px;
}
.number-wrap:nth-of-type(2n) .label-number{

  margin-right: 25px;
}

.minus,
.plus,
.number{
  float: left;
  width: 37px;
  height: 37px;
  columns: 3;
  text-align: center;
}

.minus,
.minus:disabled,
.plus,
.plus:disabled{
  font-size: 0;
  opacity: 0.3;
}

.minus{
  background:  url("../img/minus.png") no-repeat center;
}
.minus:hover,
.plus:hover{
  opacity: 1;
}
.minus:active{
  opacity: 1;
  background:  url("../img/minus_blue.png") no-repeat center;
}

.plus{
  background:  url("../img/plus.png") no-repeat center;
}

.plus:active{
  opacity: 1;
  background:  url("../img/plus_blue.png") no-repeat center;
}
.number{
  border: none;
  width: 40px;
  line-height: 35px;
  font-weight: bold;

}
.find-form-button{
  display:inline-block;
  width: 100%;
  min-height: 58px;
  margin-top: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color:#ffffff;
  border:none;
}
.find-form-button:hover{
  background-color: #669ec0;
}
.find-form-button:active{
  background-color: #5496bd;
  color:#88b6d1;
}
.main-footer{
  padding-top: 15px;
  opacity: 0.7;
}
.hashtag,
.social,
.website{
  display: block;
  float: left;
  width: 33%;
  text-align: center;
}
.social{
  font-size: 0;
  padding-top: 12px;
  padding-left: 8px;
}

.btn-social{
  display: inline-block;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.btn-social:disabled{
  opacity: 0.3;
}

.btn-social-tw{
  background: #81b3d2 url("../img/icon-tw.png") no-repeat center;
}

.btn-social-tw:hover{
  background: #669ec0 url("../img/icon-tw.png") no-repeat center;
}

.btn-social-tw:active{
  background: #5496bd url("../img/icon-tw-grey.png") no-repeat center;
}

.btn-social-fb{
  background: #81b3d2 url("../img/icon-fb.png") no-repeat center;
}

.btn-social-fb:hover{
  background: #669ec0 url("../img/icon-fb.png") no-repeat center;
}

.btn-social-fb:active{
  background: #5496bd url("../img/icon-fb-grey.png") no-repeat center;
}

.btn-social-youtube{
  background: #81b3d2 url("../img/icon-youtube.png") no-repeat center;
}

.btn-social-youtube:hover{
  background: #669ec0 url("../img/icon-youtube.png") no-repeat center;
}

.btn-social-youtube:active{
  background: #5496bd url("../img/icon-youtube-grey.png") no-repeat center;
}

.website{
}
.website-label{
  display: block;
  width: 80px;
  padding-top: 20px;
  float: left;
  margin-left: 25%

}
.logo-html-accademy{
  display: block;
  position: relative;
  float: left;
  padding-top: 20px;
  width: 120px;
  height: 47px;
  background: url("../img/logo_htmlacademy.png") no-repeat center;
}
.logo-html-accademy:hover{
  background: url("../img/logo_htmlacademy_blue.png") no-repeat center;
}

.logo-html-accademy:active,
.logo-html-accademy:disabled{
  opacity: 0.3;
  background: url("../img/logo_htmlacademy.png") no-repeat center;
}

.filters-container{
  padding: 0 6%;
  min-height: 217px;
  background: url("../img/background_filter.jpg") no-repeat;
}
.filters-result-container{
  padding: 0 6%;
}
.filters-result-container-header{
}

.header-filter{
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filter-form-item{
  display: block;
  float: left;
  padding-top: 25px;
  color:#ffffff;
}

.infrastructure-filter,
.type-of-accommodation-filter{
  min-width: 195px;
}
.infrastructure-filter{
  margin-right: 6%;
}

.cost-day-filter{
  float:right;
  width:31%;
}
.range-cost{
  width: 96%;
  margin-top:7px;
  margin-left:3%;
  padding-top:4px;
  padding-bottom:4px;
  min-height: 24px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.cost{
  display: block;
  float:left;
  width:50%;
  text-align: center;
}

.min-cost{
  position:relative;
}

.min-cost::after{
  content:"";
  display:block;
  position: absolute;
  width: 2px;
  height: 24px;
  top: 0;
  right: 0;
  background-color: #ffffff;
}

.filter-pricecount {
  height: 45px;
  position: relative;
  border-radius: 2px;
  width: 96%;
  margin-top:7px;
  margin-left:3%;
}

.cost-day-filter {
  position: relative;
}

.cost-day-filter .pricecount {
  visibility: hidden;
}

.filter-pricecount::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4%;
  width: 96%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.3;
}
.filter-pricecount::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 4%;
  width: 76%;
  height: 2px;
  background-color: #ffffff;
}

.cost-day-filter .marker-begin {
  content: "";
  visibility: visible;
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow:  0 1px 1px #ababab,inset  0 0 0 8px #ffffff;
  cursor: pointer;
  z-index: 10;
}

.cost-day-filter .marker-end {
  content: "";
  visibility: visible;
  position: absolute;
  top: 2px;
  left: 80%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow:  0 1px 1px #ababab,inset  0 0 0 8px #ffffff;
  cursor: pointer;
  z-index: 10;
}
.marker-begin:hover,
.marker-end:hover{
  background-color: #000000;
  box-shadow:  0 1px 1px #000000,inset  0 0 0 8px #ffffff;
}

.btn-filter{
  display:block;
  float: right;
  margin-right:30%;
  padding: 10px 30px;
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;

}
.btn-filter:hover,
.btn-filter:active{
  background-color: #ffffff;
  color:#000000;
}

.label-in-filter{
  display: block;
  padding-top: 20px;
  padding-left: 38px;
  position:relative;
}


.checkbox-in-filter{
  display: none;
}

.filter-form input[type="checkbox"]+label::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border:2px solid #ffffff;
  border-radius: 3px;
  bottom: 4px;
  left:0px;
  border-radius: 3px;
}

.filter-form input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  bottom:19px;
  left: 6px;
  width: 16px;
  height: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left:  2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: -4px 4px 0 1px  #ffffff,-6px 6px 0 1px transparent;
  background-position: -4px -212px;
}

.find-result{
  display: block;
  float:left;
  min-width: 160px;
  margin: 0;
  padding:30px 0;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color:#000000;
}
.filter-sort-hotel{
  display: block;
  position: relative;
  margin-left: 160px;
  padding: 35px 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
.filter-backing{
  display: block;
  width: auto;
}

.sort-type{
  width:60%;
  float:left;
  margin-right:  -45px;
}
.filters-form{
}
.input-sort,
.sort-hotel-direction{
  display: none;
}
.label-sort{
  margin-left: 33px;
}
.sort-hotel-directions{
  display: block;
  float: right;
}
.sort-hotel-direction-label{
  position: absolute;
  right:0;
  font-size: 0;
}
.label-sort{
  display: inline-block;
  padding: 0;
  color: #bcbcbc;
}
.label-sort b{
padding:0;
font-weight: 400;
border-bottom: 1px dotted #81b3d2;
z-index: 0;
}
.label-sort::before,
.label-sort::after{
  display: none;
}


.input-sort:checked+label
{
  color:#9ac2db;
}
.input-sort:checked+label b{
  border-bottom: none;
}
.input-sort+label:hover{
    color:#81b3d2;
}
.label-sort b:hover,
.input-sort:checked+label:hover b{
  border-bottom: 1px solid #81b3d2;
}


.input-sort+label:active{
  color: #000000;
}

.input-sort+label:active b{
  border-bottom: none;
}

.sort-hotel-directions{
  display: block;
  float: right;
  width:55px;
  height:10px;
}

.sort-hotel-direction+label{
  display:inline-block;
  position: relative;
  font-size: 0;
  margin-left:15px;
  margin-right:0;
  padding:0;
  width:0;
  height: 0;
  border: 5px solid transparent;
  border-color: transparent transparent  #cccccc transparent;
  transform: scaleY(2);
  bottom:2px;
}

.sort-hotel-direction+label:last-child{
  top:8px;
  right:6px;
  border-color:#cccccc transparent transparent   transparent;
  transform: scaleY(2);
}
.sort-hotel-direction:checked+label{
    border-color: transparent transparent  #81b3d2 transparent;
}
.sort-hotel-direction:checked+label:last-child{
    border-color: #81b3d2 transparent transparent   transparent;
}
.sort-hotel-direction+label:hover{
    border-color: transparent transparent  #000000 transparent;
}
.sort-hotel-direction+label:last-child:hover{
    border-color: #000000 transparent transparent   transparent;
}
.sort-hotel-direction+label:active{
    border-color: transparent transparent  #81b3d2 transparent;
}
.sort-hotel-direction+label:last-child:active{
    border-color: #81b3d2 transparent transparent   transparent;
}



.sort-hotel-direction+label::before,
.sort-hotel-direction:checked+label::before,
.sort-hotel-direction+label::after,
.sort-hotel-direction:checked+label::after{
  display:none;
}

.catalog-block-title{
  display: inline-block;
  float: left;
  margin-right: 10px;
}


.result-filter-table{
  width: 100%;
  padding:0 6%;
  border-bottom:1px solid #e5e5e5;
}

.result-filter-table:first-of-type{

  border-top:1px solid #e5e5e5;
}


.result-filter-table td{
  padding:25px 0 23px;
  vertical-align: top;
}

.hotel-name{
  display: block;
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.hotel-name:hover{
  color: #89b8d5;
}

.hotel-name:active{
  color: #dbdbdb;
}

.hotel-type{
  display: block;
  min-width: 120px;
  float: left;
}

.min-price-hotel{
  display: block;
}

.first-table-col{
  width: 160px;
}

.second-table-col{
  min-width:357px;
  text-align: left;
}

.third-table-col{
  min-width: 110px;
  text-align: right;
}

.btn-detail-hotel,
.btn-book-hotel{
  display: block;
  float: left;
  margin-top:10px;
  margin-right: 6px;
  padding:3px 17px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}

.btn-detail-hotel{
  background-color: #81b3d2;
}
.btn-detail-hotel:hover{
  background-color: #669ec0;
}
.btn-detail-hotel:active{
  background-color: #5496bd;
  color: #7aadcb;
}
.btn-book-hotel{
  background-color: #766357;
}
.btn-book-hotel:hover{
  background-color: #604e43;
}
.btn-book-hotel:active{
  background-color: #503e33;
  color: #857871;
}

.stars{
  display: block;
}
.star{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left:3px;
  background: url("../img/star.png");
}
.rating-hotel{
  display: block;
  float:right;
  width: 85px;
  margin-top: 38px;
  padding: 2px 13px;
  background-color: #f2f2f2;
}

.clearfix::after{
  content:"";
  display: table;
  clear:both;
}
